@import 'variables';
.hide_notif{
    display: none;
}
.notification-section{
    position: fixed;
    height: 100%;
    top: 40px;
    
    transition: .5s;
    // background-color: red;
    width: 100%;
    z-index: 100;
    background-color: white;
    .notification-container{
        width: 50%;
        min-width: 300px;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        height: 80%;
        
        h2{
            font-family: $oswald;
            color: $navy_blue;
            font-weight: bolder;
        }
        .notification-lists{
            overflow: auto;
            height: 100%;
        }
        .notification{
            display: flex;
            margin-bottom: 10px;
            .notification-profile{
                width: 30%;
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                    border-radius: 100%;
                }
                i{
                    font-size: 2em;
                    color: $navy_blue;
                }

            }
            .notification-content{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    span{
                        color: $navy_blue;
                        font-weight: bolder;
                    }
                }
            }
        }
    }

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    
    
    nav{
        max-width: 1000px;
        margin: auto;  
        display: flex;
        padding: 2px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        h1{
            font-family: $oswald;
            font-size: 1.6em;
            color: $navy_blue;
            width: 10%;
        }
        
        .login_signup, .profile_btn{
            width: 50px;
            background-color: $light;
            height: 100%;
            display: flex;
            padding: 5px;
            justify-content: space-between;
            border: 1px solid $taupe;
            color: $dark;
            i{
                color: $navy_blue;
            }
            
            &:hover{
                border: 1px solid $mustard;
                i{
                    color: $mustard;
                    transition: .5s;
                }

            }
        
        }
        .notification-i{
            font-size: 1.5em;
            color: $navy_blue;
        }
        .profile_btn{
            border-radius: 100%;
            overflow: hidden;
            padding: 0;
            height: 40px;
            width: 40px;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 2em;
            }
            img{
                height: 100%;
                width: 100%;
            }

        }
        form{
            height: 30px;
            padding: 3px;
            position: relative;
            &:hover{
                border: 1px solid $navy_blue;
                
                label{
                    color: $navy_blue;
                    
                }
            }
            .showSearchContainer{
                height: max-content !important;
                padding: 20px;
                h2{
                    font-family: $oswald;
                    color: $dark;
                    &:hover{
                        color: $navy_blue;
                    }
                }

            }
            .search-container{
                height: 0;
                max-height: 300px;
                overflow: auto;
                width: 100%;
                top: 40px;
                background-color: white;
                position: absolute;
                box-shadow: 1px 1px 3px 0px $navy_blue;

            }
            input{
                border: none;
                width: 100%;
                background-color: transparent;
                outline: none;
            }
            
            label{
                color: $taupe;
                margin-right: 5px;
                

            }
            width: 50%;
            border: 1px solid $taupe;
            
            display: flex;
            align-items: center;
            background-color: $light;
            
        }
        button{
            border: none;
            outline: none;
            background-color: $mustard;
            font-family: $roboto;
            color: $navy_blue;
            padding: 5px;
            border-radius: 20px;
            font-weight: 600;
            font-size: 1em;
        }
        ul{
            // display: flex;
            // width: 40%;
            background-color: white;
            padding: 20px;
            position: fixed;
            
            overflow: hidden;
            transition: .5s;
            z-index: 10;
            list-style-type: none;
            li {
                font-family: $roboto;
                font-weight:bold;
                font-size: 1em;
                margin: 0 10px;
                cursor: pointer;
                color: $dark;
                &:hover{
                    color : $navy_blue;
                    background: linear-gradient(10deg, $mustard, rgb(243, 243, 139));
                }
                padding: 10px;
                border-radius: 10px;
               
            }
            
        }
        .login_signup_options{
            top: 42px;
            box-shadow: 0px 0px 5px 0px $navy_blue;
            right: 10px;
            z-index: 100 !important;
        }
        .profile_options{
            top: 42px;
            margin-left: -50px;
            z-index: 100 !important;
        }
        .hide{
            height: 0px !important;
            padding: 0 !important;
        }
        
        
    }
}


@media only screen and (min-width : 1000px){
    .notification-section{
        width: 300px;
        height: 300px;
        top: 50px;
        box-shadow: 0px 0px 5px 0px $navy_blue;
        .notification-profile{
            img{
                width: 100% !important;
            }
        }
    }
}
@media only screen and (min-width : 500px){
    
    header{
        nav{
            form{

            }
            .login_signup{
                display: none;
            }
            .login_signup_options{
                position: static;
                display: flex;
                height: max-content !important;
                padding: 0;
                box-shadow: none;
                
            }
            .hide{
                height: max-content;
            }
        }
    }


}