@import 'variables';

.question{
    display: flex;
    margin: 10px auto;
    width: 95%;
    min-height: 200px;
    list-style-type: none;
    position: relative;
    z-index: 0;
    .fa-ellipsis-h{
        position: absolute;
        right: 10px;
        top: 10px;
        color: $taupe;
        &:hover{
            font-size: 1.5em;
            transition: .5s;
        }


    }
    .question_option{
        position: absolute;
        right: 10px;
        top: 20px;
        overflow: hidden;
        height: 50%;
        transition: .5s;
        box-shadow: 1px 1px 2px 2px $taupe;
        ul{
            list-style: none;
            background-color: white;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-evenly;
            padding: 20px;
            height: 100%;
            li{
                font-family: $roboto;
                font-weight: bolder;
                color: $dark;
                &:hover{
                    color: $navy_blue;
                    
                }
            }
        }
    }
    .hide_question_option{
        height: 0;
        box-shadow: none;
        transition: .5s;

    }
    .info_catalog, .vote_catalog{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $taupe;
        font-family: $oswald;
        h2{
            color: $taupe;
        }


    }
    .vote_catalog{
        justify-content: flex-start;
        i{
            font-size: 2em;
            color: $taupe;
            cursor: pointer;
            &:hover{
                color: $navy_blue;
            }
        }
    }
    .question_catalog{
        width: 80%;
        padding: 0 10px;
        z-index: -1;
        p{
            font-family: $roboto;
            font-size: 0.8em;
            color: $dark;
        }
        .question_context{
            padding: 0;
            margin: 0;
            p{
                font-size: 1em;

            }
            h1, h2, h3, h4, h5{
                color: $navy_blue;
            }
            max-height: 100px;
            overflow: hidden;
            position: relative;
            .fade{
                position: absolute;
                bottom: 0px;
                display: block;
                width: 100%;
                height: 90%;
                margin: 0;
                background: linear-gradient(to bottom, 
                    rgba(255, 255, 255, 0), 
                    rgba(255, 255, 255, 0.9)
                100%);
            }
        }
        
        .question_info1{
            display: flex;
            // justify-content: space-between;
            margin: 5px 0;
            
            .user{
                color: $navy_blue;
                font-weight: bolder;
            
            }
        }
        .question_info2{
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;
                
                li{
                    margin: 0 5px;
                    padding: 6px;
                    border-radius: 5px;
                    background-color: $blush;
                }
            }
            button{
                padding: 10px;
                font-family: $roboto;
                font-weight: bolder;
                background-color: $mustard;
                border: none;
                outline: none;
                color: $navy_blue;
                border-radius: 5px;
            }
        }
        h1{
            color: $navy_blue;
            margin: 0;
            transition: .3s;
            font-family: $oswald;
            &:hover{
                color: $mustard;

            }
        }
    }
}

@media only screen and (min-width : 1000px){
    .question{
        .question_catalog{
            .question_info1{
                margin-top: 10px;
            }
        }
        
    }
}